<app-header></app-header>

<div class="row">
  <div class="col">
    <app-trip-create (saved)="onTripSaved($event)"></app-trip-create>
  </div>
  <div class="col">
    <app-trip-shopping-cart></app-trip-shopping-cart>
  </div>
</div>

<div class="card my-4"
     [ngClass]="{ 'booking-count--high': bookedTrips >= 10, 'booking-count--low': bookedTrips < 10 }">
  <div class="card-body">
    <h3 class="card-title">Booked trips: {{ bookedTrips }}</h3>
  </div>
</div>

<div class="row">
  <div *ngFor="let trip of trips"
       class="col-md-4 mb-4">
    <app-trip [isHighest]="trip.id === minPriceId"
              [isLowest]="trip.id === maxPriceId"
              [trip]="trip"
              (rated)="onTripRated($event)"
              (removed)="onTripRemoved($event)"
              (reserved)="onTripReserved($event)"
              (unreserved)="onTripUnreserved($event)"></app-trip>
  </div>
</div>
