<app-header></app-header>

<div class="card mb-4"
     [ngClass]="{ 'booking-count--high': bookedTrips >= 10, 'booking-count--low': bookedTrips < 10 }">
  <div class="card-body">
    <h3 class="card-title">Booked tirips: {{ bookedTrips }}</h3>
  </div>
</div>

<div class="row">
  <div *ngFor="let trip of trips"
       class="col-md-4 mb-4">
    <div class="card">
      <h5 class="card-header"
          [ngClass]="{ 'trip--lowest-price': trip.id === minPriceId, 'trip--highest-price': trip.id === maxPriceId }">
        {{ trip.name | uppercase }}
      </h5>
      <div class="card-body d-flex">
        <img class="img-fluid img-thumbnail"
             [alt]="trip.name"
             [src]="trip.photoUrl">

        <div class="ml-4">
          <h6 class="mb-2">
            {{ trip.destination }},
            <small class="text-muted">{{ trip.startDate | date }} - {{ trip.endDate | date }}</small>
          </h6>

          <p>{{ trip.description }}</p>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <ng-template [ngIf]="!trip.isFull"
                     [ngIfElse]="noPlaces">
          <p>Places: {{ trip.currentPeopleCount }} / {{ trip.maxPeopleCount }}</p>

          <ngb-alert *ngIf="trip.lowAvailablePlaces"
                     class="mb-0"
                     type="info"
                     [dismissible]="false">
            <strong>Last places!</strong>
          </ngb-alert>
        </ng-template>
        <ng-template #noPlaces>
          <ngb-alert class="mb-0"
                     type="danger"
                     [dismissible]="false">
            No available places!
          </ngb-alert>
        </ng-template>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <span>{{ trip.price | currency:'$' }}</span>

        <div>
          <button class="btn btn-success"
                  [ngClass]="{ 'd-none': trip.isFull }"
                  (click)="trip.reserve()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M17,18V5H7V18L12,15.82L17,18M17,3A2,2 0 0,1 19,5V21L12,18L5,21V5C5,3.89 5.9,3 7,3H17M11,7H13V9H15V11H13V13H11V11H9V9H11V7Z" />
            </svg>
          </button>
          <button class="btn btn-danger ml-2"
                  [ngClass]="{ 'd-none': trip.isEmpty }"
                  (click)="trip.undoReserve()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9,11V9H15V11H9M19,5V21L12,18L5,21V5C5,3.89 5.9,3 7,3H17C18.11,3 19,3.9 19,5M17,5H7V18L12,15.82L17,18V5Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
