.trip--lowest-price {
  background-color: rgba(255, 0, 0, .3);
}

.trip--highest-price {
  background-color: rgba(0, 255, 0, .3);
}

.booking-count--high {
  background-color: rgba(0, 255, 0, .3);
}

.booking-count--low {
  background-color: rgba(255, 0, 0, .3);
}
