<div class="btn-group trip-rating"
     role="group">
  <ng-template [ngIf]="canVote">
    <button class="btn"
            *ngFor="let idx of range"
            (click)="setRating(idx + 1)">
      <ng-template [ngIf]="idx >= currentRating"
                   [ngIfElse]="fullIcon">
        <svg style="width:24px;height:24px"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z" />
        </svg>
      </ng-template>
    </button>
  </ng-template>

  <ng-template [ngIf]="!canVote">
    <span *ngFor="let idx of range">
      <ng-template [ngIf]="idx >= currentRating"
                   [ngIfElse]="fullIcon">
        <svg style="width:24px;height:24px"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z" />
        </svg>
      </ng-template>
    </span>
  </ng-template>

  <ng-template #fullIcon>
    <svg style="width:24px;height:24px"
         viewBox="0 0 24 24">
      <path fill="currentColor"
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
    </svg>
  </ng-template>
</div>
